-- SQL Manager Lite for SQL Server 4.0.2.45141
-- ---------------------------------------
-- Host      : mssql01.anaxanet.com
-- Database  : sitconsu_concaraxs
-- Version   : Microsoft SQL Server  12.0.2000.8


--
-- Disable foreign keys
--

ALTER TABLE SITCORE.COMMON_VALUES
NOCHECK CONSTRAINT FK_COMMON_VALUES_COMMON_VALUE_SETS
GO

ALTER TABLE SITWF.WORKFLOWS
NOCHECK CONSTRAINT FK_WORKFLOW_WORKFLOW_APPROVE_HIERARCHY
GO

--
-- Data for table SITWF.WORKFLOWS  (LIMIT 0,500)
--

SET IDENTITY_INSERT SITWF.WORKFLOWS ON
GO

INSERT INTO SITWF.WORKFLOWS (WF_ID, WF_NAME, WF_DESCRIPTION, WF_START_DATE, WF_END_DATE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, WF_HIERARCHY_ID)
VALUES 
  (1, N'Workflow 0001', N'Acceso a carpetas', N'0001-01-01', N'2015-02-03', N'test', '20150121 17:11:25.113', N'test', '20150203 21:39:21.157', 1)
GO

INSERT INTO SITWF.WORKFLOWS (WF_ID, WF_NAME, WF_DESCRIPTION, WF_START_DATE, WF_END_DATE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, WF_HIERARCHY_ID)
VALUES 
  (2, N'WF CONTABILIDAD', N'Acceso al sistema contable', N'0001-01-01', N'2015-02-06', N'test', '20150126 10:31:19.920', N'test', '20150206 02:00:44.520', 2)
GO

INSERT INTO SITWF.WORKFLOWS (WF_ID, WF_NAME, WF_DESCRIPTION, WF_START_DATE, WF_END_DATE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, WF_HIERARCHY_ID)
VALUES 
  (3, N'Workflow 0005', N'', N'0001-01-01', N'2015-01-26', N'test', '20150126 10:31:34.020', N'test', '20150203 21:39:25.307', 1)
GO

SET IDENTITY_INSERT SITWF.WORKFLOWS OFF
GO

--
-- Data for table AXSCONTROL.RESOURCE_CATEGORIES  (LIMIT 0,500)
--

SET IDENTITY_INSERT AXSCONTROL.RESOURCE_CATEGORIES ON
GO

INSERT INTO AXSCONTROL.RESOURCE_CATEGORIES (CATEGORY_ID, CATEGORY_NAME, CATEGORY_DESCRIPTION, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (2, N'CAT_ACC_BASICO', N'Accesos Básicos (Valor de Sistema)', N'test', '20150126 01:34:33.157', N'test', '20150206 13:28:02.693')
GO

INSERT INTO AXSCONTROL.RESOURCE_CATEGORIES (CATEGORY_ID, CATEGORY_NAME, CATEGORY_DESCRIPTION, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (3, N'CAT_ACC_HARDWARE', N'Accesos Hardware (Valor de Sistema)', N'test', '20150126 01:33:45.587', N'test', '20150206 13:28:09.590')
GO

INSERT INTO AXSCONTROL.RESOURCE_CATEGORIES (CATEGORY_ID, CATEGORY_NAME, CATEGORY_DESCRIPTION, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (4, N'CAT_ACC_APLICACION', N'Accesos Aplicaciones (Valor de Sistema)', N'test', '20150126 01:35:14.343', N'test', '20150206 13:28:14.923')
GO


SET IDENTITY_INSERT AXSCONTROL.RESOURCE_CATEGORIES OFF
GO

--
-- Data for table AXSCONTROL.ACCESS_TYPES  (LIMIT 0,500)
--

SET IDENTITY_INSERT AXSCONTROL.ACCESS_TYPES ON
GO

INSERT INTO AXSCONTROL.ACCESS_TYPES (ACCESS_TYPE_ID, ACCESS_TYPE_NAME, ACCESS_TYPE_STATUS, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, ACCESS_TYPE_TYPE)
VALUES 
  (1, N'SI/NO', 1, N'DLUYO', '20150118 11:20:42.020', N'test', '20150203 16:12:53.847', 1)
GO

INSERT INTO AXSCONTROL.ACCESS_TYPES (ACCESS_TYPE_ID, ACCESS_TYPE_NAME, ACCESS_TYPE_STATUS, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, ACCESS_TYPE_TYPE)
VALUES 
  (4, N'Archivos', 1, N'test', '20150127 09:50:31.997', N'test', '20150127 09:50:31.997', 1)
GO

INSERT INTO AXSCONTROL.ACCESS_TYPES (ACCESS_TYPE_ID, ACCESS_TYPE_NAME, ACCESS_TYPE_STATUS, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, ACCESS_TYPE_TYPE)
VALUES 
  (5, N'Lectura/Escritura/ControlTotal', 1, N'test', '20150126 01:30:22.707', N'test', '20150126 01:30:22.707', 1)
GO









SET IDENTITY_INSERT AXSCONTROL.ACCESS_TYPES OFF
GO

--
-- Data for table AXSCONTROL.ACCESS_RESOURCES  (LIMIT 0,500)
--

SET IDENTITY_INSERT AXSCONTROL.ACCESS_RESOURCES ON
GO

INSERT INTO AXSCONTROL.ACCESS_RESOURCES (RESOURCE_ID, RESOURCE_CATEGORY, RESOURCE_NAME, RESOURCE_DESCRIPTION, RESOURCE_PARENT, RESOURCE_PARAM1, RESOURCE_PARAM2, RESOURCE_PARAM3, RESOURCE_PARAM4, RESOURCE_PARAM5, RESOURCE_PARAM6, RESOURCE_PARAM7, RESOURCE_PARAM8, RESOURCE_PARAM9, RESOURCE_PARAM10, RESOURCE_ACCESS_TYPE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, RESOURCE_WORKFLOW)
VALUES 
  (5, 4, N'Oracle EBS', N'Accesso al Sistema EBS', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, N'test', '20150202 17:13:48.403', N'test', '20150206 13:28:41.660', 1)
GO









SET IDENTITY_INSERT AXSCONTROL.ACCESS_RESOURCES OFF
GO

--
-- Data for table SITCORE.COMMON_VALUE_SETS  (LIMIT 0,500)
--

SET IDENTITY_INSERT SITCORE.COMMON_VALUE_SETS ON
GO

INSERT INTO SITCORE.COMMON_VALUE_SETS (COMMON_VALUE_SET_ID, COMMON_VALUE_SET_NAME, COMMON_VALUE_SET_DESC, COMMON_VALUE_SET_SEQ_SEED, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, [[COMMON_VALUE_SET_SYSTEM_VALUE]]])
VALUES 
  (1, N'ESTADOS_WORKFLOW', N'Lista de estados posibles de Workflow (Valor de Sistema)', 0, N'test', '20150126 01:38:33.443', N'test', '20150205 15:17:20.247', 0)
GO

INSERT INTO SITCORE.COMMON_VALUE_SETS (COMMON_VALUE_SET_ID, COMMON_VALUE_SET_NAME, COMMON_VALUE_SET_DESC, COMMON_VALUE_SET_SEQ_SEED, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, [[COMMON_VALUE_SET_SYSTEM_VALUE]]])
VALUES 
  (3, N'ESTADOS_RECURSOS', N'Lista de Estados para Recursos (Valor de Sistema)', 0, N'test', '20150122 18:25:52.043', N'test', '20150205 15:17:25.420', 0)
GO

INSERT INTO SITCORE.COMMON_VALUE_SETS (COMMON_VALUE_SET_ID, COMMON_VALUE_SET_NAME, COMMON_VALUE_SET_DESC, COMMON_VALUE_SET_SEQ_SEED, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, [[COMMON_VALUE_SET_SYSTEM_VALUE]]])
VALUES 
  (10, N'TIPO_DOCUMENTO', N'Lista de Tipos de Documentos de Identidad', 0, N'test', '20150201 17:11:03.340', N'test', '20150205 15:17:36.623', 1)
GO







SET IDENTITY_INSERT SITCORE.COMMON_VALUE_SETS OFF
GO

--
-- Data for table SITCORE.COMMON_VALUES  (LIMIT 0,500)
--

SET IDENTITY_INSERT SITCORE.COMMON_VALUES ON
GO

INSERT INTO SITCORE.COMMON_VALUES (COMMON_VALUE_SET_ID, COMMON_VALUE_NAME, COMMON_VALUE_DISPLAY, COMMON_VALUE_DESC, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, COMMON_VALUE_ID)
VALUES 
  (10, N'DNI', N'D.N.I.', N'Documento Nacional de Identidad', N'test', '20150201 17:11:03.517', N'test', '20150201 17:11:03.517', 1)
GO

INSERT INTO SITCORE.COMMON_VALUES (COMMON_VALUE_SET_ID, COMMON_VALUE_NAME, COMMON_VALUE_DISPLAY, COMMON_VALUE_DESC, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, COMMON_VALUE_ID)
VALUES 
  (10, N'PASAPORTE', N'Pasaporte', N'Pasaporte', N'test', '20150201 17:11:03.683', N'test', '20150201 17:11:03.683', 2)
GO

INSERT INTO SITCORE.COMMON_VALUES (COMMON_VALUE_SET_ID, COMMON_VALUE_NAME, COMMON_VALUE_DISPLAY, COMMON_VALUE_DESC, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, COMMON_VALUE_ID)
VALUES 
  (10, N'C_E', N'C.E.', N'Carnet de Extranjería', N'test', '20150201 17:11:03.860', N'test', '20150201 17:11:03.860', 3)
GO







































SET IDENTITY_INSERT SITCORE.COMMON_VALUES OFF
GO

--
-- Data for table AXSCONTROL.ACCESS_REQUESTS  (LIMIT 0,500)
--

SET IDENTITY_INSERT AXSCONTROL.ACCESS_REQUESTS ON
GO

INSERT INTO AXSCONTROL.ACCESS_REQUESTS (REQUEST_ID, REQUEST_BY, REQUEST_TO, REQUEST_DATE, REQUEST_TYPE, REQUEST_DEPARTMENT, REQUEST_PRIORITY, REQUEST_STATUS, REQUEST_COMPLETED_DATE, REQUEST_NOTE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, REQUEST_NUMBER)
VALUES 
  (16, N'0', 1, '20150205 18:31:11.883', 46, 23, 46, 40, NULL, NULL, N'test', '20150205 18:31:11.883', N'test', '20150206 18:30:11.727', 1)
GO

INSERT INTO AXSCONTROL.ACCESS_REQUESTS (REQUEST_ID, REQUEST_BY, REQUEST_TO, REQUEST_DATE, REQUEST_TYPE, REQUEST_DEPARTMENT, REQUEST_PRIORITY, REQUEST_STATUS, REQUEST_COMPLETED_DATE, REQUEST_NOTE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, REQUEST_NUMBER)
VALUES 
  (17, N'0', 7, '20150205 18:34:41.290', 47, 22, 51, 40, NULL, N'', N'test', '20150205 18:34:41.290', N'test', '20150205 18:34:41.290', 2)
GO

INSERT INTO AXSCONTROL.ACCESS_REQUESTS (REQUEST_ID, REQUEST_BY, REQUEST_TO, REQUEST_DATE, REQUEST_TYPE, REQUEST_DEPARTMENT, REQUEST_PRIORITY, REQUEST_STATUS, REQUEST_COMPLETED_DATE, REQUEST_NOTE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE, REQUEST_NUMBER)
VALUES 
  (20, N'test', 7, '20150206 19:13:35.907', 46, 22, 51, 40, NULL, NULL, N'test', '20150206 19:13:35.907', N'test', '20150206 19:13:35.910', 3)
GO






SET IDENTITY_INSERT AXSCONTROL.ACCESS_REQUESTS OFF
GO

--
-- Data for table AXSCONTROL.ACCESS_REQUEST_DETAILS  (LIMIT 0,500)
--

SET IDENTITY_INSERT AXSCONTROL.ACCESS_REQUEST_DETAILS ON
GO

INSERT INTO AXSCONTROL.ACCESS_REQUEST_DETAILS (REQUEST_ID, REQUEST_DET_ID, REQUEST_DET_RESOURCE_ID, REQUEST_DET_STATUS, REQUEST_DET_STEP, REQUEST_DET_TYPE, REQUEST_DET_STR_VALUE, REQUEST_DET_INT_VALUE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (16, 1, 5, NULL, 0, NULL, NULL, 0, N'test', '20150206 18:30:11.933', N'test', '20150206 18:30:11.937')
GO

INSERT INTO AXSCONTROL.ACCESS_REQUEST_DETAILS (REQUEST_ID, REQUEST_DET_ID, REQUEST_DET_RESOURCE_ID, REQUEST_DET_STATUS, REQUEST_DET_STEP, REQUEST_DET_TYPE, REQUEST_DET_STR_VALUE, REQUEST_DET_INT_VALUE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (16, 2, 11, NULL, 0, NULL, NULL, 36, N'test', '20150206 18:30:12.137', N'test', '20150206 18:30:12.137')
GO

INSERT INTO AXSCONTROL.ACCESS_REQUEST_DETAILS (REQUEST_ID, REQUEST_DET_ID, REQUEST_DET_RESOURCE_ID, REQUEST_DET_STATUS, REQUEST_DET_STEP, REQUEST_DET_TYPE, REQUEST_DET_STR_VALUE, REQUEST_DET_INT_VALUE, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (20, 3, 5, NULL, 0, NULL, NULL, 1, N'test', '20150206 19:13:36.153', N'test', '20150206 19:13:36.157')
GO











SET IDENTITY_INSERT AXSCONTROL.ACCESS_REQUEST_DETAILS OFF
GO

--
-- Data for table AXSCONTROL.ACCESS_TYPE_VALUES  (LIMIT 0,500)
--

SET IDENTITY_INSERT AXSCONTROL.ACCESS_TYPE_VALUES ON
GO

INSERT INTO AXSCONTROL.ACCESS_TYPE_VALUES (ACCESS_TYPE_ID, TYPE_VALUE_ID, TYPE_VALUE_NAME, TYPE_VALUE_DISPLAY, TYPE_VALUE_INT_VAL, TYPE_VALUE_CHAR_VAL, TYPE_VALUE_DEFAULT, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (19, 5, N'item 1', N'adsa', NULL, N'asda', 0, N'test', '20150128 17:05:12.310', N'test', '20150129 10:30:12.637')
GO

INSERT INTO AXSCONTROL.ACCESS_TYPE_VALUES (ACCESS_TYPE_ID, TYPE_VALUE_ID, TYPE_VALUE_NAME, TYPE_VALUE_DISPLAY, TYPE_VALUE_INT_VAL, TYPE_VALUE_CHAR_VAL, TYPE_VALUE_DEFAULT, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (19, 6, N'item 2', N'hola como estas', NULL, N'xcvxc', 0, N'test', '20150128 17:05:12.460', N'test', '20150129 10:30:12.783')
GO

INSERT INTO AXSCONTROL.ACCESS_TYPE_VALUES (ACCESS_TYPE_ID, TYPE_VALUE_ID, TYPE_VALUE_NAME, TYPE_VALUE_DISPLAY, TYPE_VALUE_INT_VAL, TYPE_VALUE_CHAR_VAL, TYPE_VALUE_DEFAULT, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (23, 7, N'VALOR10', N'valor1', NULL, N'mmmm', 0, N'TEST', '20150129 10:13:01.683', N'test', '20150130 17:00:01.843')
GO








SET IDENTITY_INSERT AXSCONTROL.ACCESS_TYPE_VALUES OFF
GO

--
-- Data for table HHRR.PEOPLE  (LIMIT 0,500)
--

SET IDENTITY_INSERT HHRR.PEOPLE ON
GO



SET IDENTITY_INSERT HHRR.PEOPLE OFF
GO

--
-- Data for table SITCORE.SYSTEM_CONFIG  (LIMIT 0,500)
--

SET IDENTITY_INSERT SITCORE.SYSTEM_CONFIG ON
GO


SET IDENTITY_INSERT SITCORE.SYSTEM_CONFIG OFF
GO

--
-- Data for table SITWF.WORKFLOW_ITEMS  (LIMIT 0,500)
--

SET IDENTITY_INSERT SITWF.WORKFLOW_ITEMS ON
GO






SET IDENTITY_INSERT SITWF.WORKFLOW_ITEMS OFF
GO

--
-- Data for table SITWF.WORKFLOW_APPROVE_HIERARCHY  (LIMIT 0,500)
--

SET IDENTITY_INSERT SITWF.WORKFLOW_APPROVE_HIERARCHY ON
GO

INSERT INTO SITWF.WORKFLOW_APPROVE_HIERARCHY (WF_HIERARCHY_ID, WF_HIERARCHY_NAME, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (1, N'JERARQUIA 001', N'test', '20150203 21:26:48.303', N'test', '20150205 12:33:32.920')
GO

INSERT INTO SITWF.WORKFLOW_APPROVE_HIERARCHY (WF_HIERARCHY_ID, WF_HIERARCHY_NAME, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (2, N'CONTABILIDAD', N'test', '20150205 14:00:37.040', N'test', '20150205 14:00:37.043')
GO

SET IDENTITY_INSERT SITWF.WORKFLOW_APPROVE_HIERARCHY OFF
GO

--
-- Data for table SITWF.WORKFLOW_HIERARCHY_MEMBERS  (LIMIT 0,500)
--

SET IDENTITY_INSERT SITWF.WORKFLOW_HIERARCHY_MEMBERS ON
GO

INSERT INTO SITWF.WORKFLOW_HIERARCHY_MEMBERS (WF_HIERARCHY_MEMBER_ID, WF_HIERARCHY_ID, WF_HIERARCHY_MEMBER_DEPARTMENT, WF_HIERARCHY_MEMBER_POSITION, WF_HIERARCHY_MEMBER_ORDER, WF_HIERARCHY_MEMBER_DESCRIPTION, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (2, 1, 23, 14, 3, N'', N'test', '20150204 16:18:49.340', N'test', '20150205 12:33:33.060')
GO

INSERT INTO SITWF.WORKFLOW_HIERARCHY_MEMBERS (WF_HIERARCHY_MEMBER_ID, WF_HIERARCHY_ID, WF_HIERARCHY_MEMBER_DEPARTMENT, WF_HIERARCHY_MEMBER_POSITION, WF_HIERARCHY_MEMBER_ORDER, WF_HIERARCHY_MEMBER_DESCRIPTION, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (3, 1, 24, 18, 2, N'', N'test', '20150204 16:18:49.500', N'test', '20150205 12:33:14.577')
GO

INSERT INTO SITWF.WORKFLOW_HIERARCHY_MEMBERS (WF_HIERARCHY_MEMBER_ID, WF_HIERARCHY_ID, WF_HIERARCHY_MEMBER_DEPARTMENT, WF_HIERARCHY_MEMBER_POSITION, WF_HIERARCHY_MEMBER_ORDER, WF_HIERARCHY_MEMBER_DESCRIPTION, CREATE_USER, CREATE_DATE, EDIT_USER, EDIT_DATE)
VALUES 
  (4, 1, 24, 15, 1, N'', N'test', '20150204 16:19:30.207', N'test', '20150205 10:35:42.870')
GO



SET IDENTITY_INSERT SITWF.WORKFLOW_HIERARCHY_MEMBERS OFF
GO

--
-- Enable foreign keys
--

ALTER TABLE SITCORE.COMMON_VALUES
WITH CHECK CHECK CONSTRAINT FK_COMMON_VALUES_COMMON_VALUE_SETS
GO

ALTER TABLE SITWF.WORKFLOWS
WITH CHECK CHECK CONSTRAINT FK_WORKFLOW_WORKFLOW_APPROVE_HIERARCHY
GO

