-- SQL Manager Lite for SQL Server 4.0.2.45141
-- ---------------------------------------
-- Host      : mssql01.anaxanet.com
-- Database  : sitconsu_concaraxs
-- Version   : Microsoft SQL Server  12.0.2000.8


CREATE DATABASE sitconsu_concaraxs
ON PRIMARY
  ( NAME = sitconsu_concaraxs_data,
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\sitconsu_concaraxs_data.mdf',
    SIZE = 4352 KB,
    MAXSIZE = 10240 MB,
    FILEGROWTH = 1 MB )
LOG ON
  ( NAME = sitconsu_concaraxs_log,
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\sitconsu_concaraxs_log.ldf',
    SIZE = 1536 KB,
    MAXSIZE = 10240 MB,
    FILEGROWTH = 10 % )
COLLATE SQL_Latin1_General_CP1_CI_AS
GO

USE sitconsu_concaraxs
GO

--
-- Definition for user sitconsu_concardb : 
--

CREATE USER sitconsu_concardb
  FOR LOGIN [sitconsu_concardb]
  WITH DEFAULT_SCHEMA = sitconsu_concardb
GO

--
-- Definition for schema AXSCONTROL : 
--

CREATE SCHEMA AXSCONTROL
  AUTHORIZATION [sitconsu_concardb]
GO

--
-- Definition for schema HHRR : 
--

CREATE SCHEMA HHRR
  AUTHORIZATION [sitconsu_concardb]
GO

--
-- Definition for schema PROJ : 
--

CREATE SCHEMA PROJ
  AUTHORIZATION [sitconsu_concardb]
GO

--
-- Definition for schema sitconsu_concardb : 
--

CREATE SCHEMA sitconsu_concardb
  AUTHORIZATION [sitconsu_concardb]
GO

--
-- Definition for schema SITCORE : 
--

CREATE SCHEMA SITCORE
  AUTHORIZATION [sitconsu_concardb]
GO

--
-- Definition for schema SITWF : 
--

CREATE SCHEMA SITWF
  AUTHORIZATION [sitconsu_concardb]
GO

--
-- Definition for table WORKFLOW_APPROVE_HIERARCHY : 
--

CREATE TABLE SITWF.WORKFLOW_APPROVE_HIERARCHY (
  WF_HIERARCHY_ID int IDENTITY(1, 1) NOT NULL,
  WF_HIERARCHY_NAME varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table WORKFLOWS : 
--

CREATE TABLE SITWF.WORKFLOWS (
  WF_ID int IDENTITY(1, 1) NOT NULL,
  WF_NAME varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  WF_DESCRIPTION varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  WF_START_DATE date NOT NULL,
  WF_END_DATE date NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL,
  WF_HIERARCHY_ID int NULL
)
ON [PRIMARY]
GO

--
-- Definition for table ACCESS_TYPES : 
--

CREATE TABLE AXSCONTROL.ACCESS_TYPES (
  ACCESS_TYPE_ID int IDENTITY(1, 1) NOT NULL,
  ACCESS_TYPE_NAME varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  ACCESS_TYPE_STATUS int CONSTRAINT DF_ACCESS_TYPE_STATUS DEFAULT 1 NOT NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL,
  ACCESS_TYPE_TYPE int DEFAULT 1 NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table RESOURCE_CATEGORIES : 
--

CREATE TABLE AXSCONTROL.RESOURCE_CATEGORIES (
  CATEGORY_ID int IDENTITY(1, 1) NOT NULL,
  CATEGORY_NAME varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  CATEGORY_DESCRIPTION varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table ACCESS_RESOURCES : 
--

CREATE TABLE AXSCONTROL.ACCESS_RESOURCES (
  RESOURCE_ID int IDENTITY(1, 1) NOT NULL,
  RESOURCE_CATEGORY int NOT NULL,
  RESOURCE_NAME varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  RESOURCE_DESCRIPTION varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARENT int DEFAULT NULL NULL,
  RESOURCE_PARAM1 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARAM2 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARAM3 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARAM4 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARAM5 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARAM6 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARAM7 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARAM8 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARAM9 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_PARAM10 varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  RESOURCE_ACCESS_TYPE int NOT NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL,
  RESOURCE_WORKFLOW int NULL
)
ON [PRIMARY]
GO

--
-- Definition for table COMMON_VALUE_SETS : 
--

CREATE TABLE SITCORE.COMMON_VALUE_SETS (
  COMMON_VALUE_SET_ID int IDENTITY(1, 1) NOT NULL,
  COMMON_VALUE_SET_NAME varchar(150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  COMMON_VALUE_SET_DESC varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  COMMON_VALUE_SET_SEQ_SEED int NOT NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL,
  [[COMMON_VALUE_SET_SYSTEM_VALUE]]] int CONSTRAINT DF_COMMON_VALUE_SYSTEM_VALUE DEFAULT 0 NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table COMMON_VALUES : 
--

CREATE TABLE SITCORE.COMMON_VALUES (
  COMMON_VALUE_SET_ID int NOT NULL,
  COMMON_VALUE_NAME varchar(150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  COMMON_VALUE_DISPLAY varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  COMMON_VALUE_DESC varchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL,
  COMMON_VALUE_ID int IDENTITY(1, 1) NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table ACCESS_REQUESTS : 
--

CREATE TABLE AXSCONTROL.ACCESS_REQUESTS (
  REQUEST_ID int IDENTITY(1, 1) NOT NULL,
  REQUEST_BY varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  REQUEST_TO int NOT NULL,
  REQUEST_DATE datetime NULL,
  REQUEST_TYPE int NOT NULL,
  REQUEST_DEPARTMENT int NULL,
  REQUEST_PRIORITY int NOT NULL,
  REQUEST_STATUS int NULL,
  REQUEST_COMPLETED_DATE datetime NULL,
  REQUEST_NOTE text COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL,
  REQUEST_NUMBER int NULL
)
ON [PRIMARY]
TEXTIMAGE_ON [PRIMARY]
GO

--
-- Definition for table ACCESS_REQUEST_DETAILS : 
--

CREATE TABLE AXSCONTROL.ACCESS_REQUEST_DETAILS (
  REQUEST_ID int NOT NULL,
  REQUEST_DET_ID int IDENTITY(1, 1) NOT NULL,
  REQUEST_DET_RESOURCE_ID int NOT NULL,
  REQUEST_DET_STATUS int NULL,
  REQUEST_DET_STEP int DEFAULT 1 NOT NULL,
  REQUEST_DET_TYPE int NULL,
  REQUEST_DET_STR_VALUE varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  REQUEST_DET_INT_VALUE int NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table ACCESS_TYPE_VALUES : 
--

CREATE TABLE AXSCONTROL.ACCESS_TYPE_VALUES (
  ACCESS_TYPE_ID int NOT NULL,
  TYPE_VALUE_ID int IDENTITY(1, 1) NOT NULL,
  TYPE_VALUE_NAME varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  TYPE_VALUE_DISPLAY varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  TYPE_VALUE_INT_VAL int NULL,
  TYPE_VALUE_CHAR_VAL varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  TYPE_VALUE_DEFAULT int CONSTRAINT DF_ACCESS_TYPE_ITEMS_TYPE_ITEM_DEFAULT DEFAULT 0 NOT NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table ACCESS_USERS : 
--

CREATE TABLE AXSCONTROL.ACCESS_USERS (
  USER_ID int IDENTITY(1, 1) NOT NULL,
  USER_INTERNAL_ID varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  USER_LAST_NAME varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  USER_FIRST_NAME varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  USER_NAME_3 varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  USER_NAME_4 varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  USER_DOC_NUM varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  USER_ADDRESS1 varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  USER_ADDRESS2 varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  USER_PHONE1 varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  USER_PHONE2 varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  USER_EMAIL varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  USER_ADDRESS_GEOLOCATION geography NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  CREATE_DATE datetime NOT NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table PEOPLE : 
--

CREATE TABLE HHRR.PEOPLE (
  PEOPLE_ID int IDENTITY(1, 1) NOT NULL,
  PEOPLE_ORG_ID int NOT NULL,
  PEOPLE_INTERNAL_ID varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_LAST_NAME varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  PEOPLE_FIRST_NAME varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  PEOPLE_LAST_NAME2 varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_FIRST_NAME2 varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_DOC_TYPE int NULL,
  PEOPLE_DOC_NUM varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ADDRESS1 varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ADDRESS2 varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_PHONE1 varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_PHONE2 varchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_EMAIL varchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ADDRESS_GEOLOCATION geography NULL,
  PEOPLE_IMAGE varbinary(max) NULL,
  PEOPLE_ATTRIBUTE1 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ATTRIBUTE2 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ATTRIBUTE3 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ATTRIBUTE4 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ATTRIBUTE5 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ATTRIBUTE6 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ATTRIBUTE7 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ATTRIBUTE8 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ATTRIBUTE9 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PEOPLE_ATTRIBUTE10 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL,
  PEOPLE_DEPARTMENT int NULL,
  PEOPLE_POSITION int NULL
)
ON [PRIMARY]
GO

--
-- Definition for table DEPARTMENTS : 
--

CREATE TABLE HHRR.DEPARTMENTS (
  DEPARTMENT_ID int IDENTITY(1, 1) NOT NULL,
  DEPARTMENT_ORG_ID varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_CODE varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_NAME varchar(240) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_PARENT int NULL,
  DEPARTMENT_STATUS varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_OBSERVATION varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE1 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE2 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE3 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE4 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE5 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE6 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE7 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE8 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE9 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  DEPARTMENT_ATTRIBUTE10 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table DEPARTMENT_POSITIONS : 
--

CREATE TABLE HHRR.DEPARTMENT_POSITIONS (
  DEPARTMENT_ID int NOT NULL,
  POSITION_ID int NOT NULL,
  PEOPLE_ID int NOT NULL,
  POSITION_PARENT int NULL,
  POSITION_STATUS int NOT NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table ORGANIZATIONS : 
--

CREATE TABLE HHRR.ORGANIZATIONS (
  ORG_ID int IDENTITY(1, 1) NOT NULL,
  ORG_SHORT_NAME varchar(400) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  ORG_LEGAL_NAME varchar(400) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  ORG_LEGAL_NUM varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  ORG_DISPLAY_TEXT varchar(400) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  ORG_IMAGE1_URL varchar(400) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  ORG_IMAGE2_URL varchar(400) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table PEOPLE_DEPARTMENTS : 
--

CREATE TABLE HHRR.PEOPLE_DEPARTMENTS (
  PEOPLE_ID int NOT NULL,
  DEPARTMENT_ID int NOT NULL,
  PD_STATUS int NOT NULL,
  PD_START_DATE datetime NOT NULL,
  PD_END_DATE datetime NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table PROJECTS : 
--

CREATE TABLE PROJ.PROJECTS (
  PROJECT_ID int IDENTITY(1, 1) NOT NULL,
  PROJECT_ORG_ID int NOT NULL,
  PROJECT_CODE varchar(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  PROJECT_NAME varchar(400) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  PROJECT_DESCRIPTION varchar(4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PROJECT_RESPONSIBLE1 int NULL,
  PROJECT_RESPONSIBLE2 int NULL,
  PROJECT_RESPONSIBLE3 int NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table SYSTEM_CONFIG : 
--

CREATE TABLE SITCORE.SYSTEM_CONFIG (
  SYSCONF_ID int IDENTITY(1, 1) NOT NULL,
  SYSCONF_NAME varchar(150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  SYSCONF_DESC varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE1 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE2 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE3 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE4 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE5 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE6 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE7 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE8 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE9 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE10 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE11 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE12 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE13 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE14 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE15 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE16 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE17 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE18 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE19 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  SYSCONF_VALUE20 varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table WORKFLOW_ITEMS : 
--

CREATE TABLE SITWF.WORKFLOW_ITEMS (
  WF_ITEM_ID int IDENTITY(1, 1) NOT NULL,
  WF_ITEM_WF_ID int NOT NULL,
  WF_ITEM_NAME varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  WF_ITEM_TYPE int NOT NULL,
  WF_ITEM_MESSAGE text COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  WF_ITEM_STEP int NOT NULL,
  WF_ITEM_ENTER_CONDITION varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  WF_ITEM_ENTER_PARAMS varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  WF_ITEM_PREV_SIBLING int NULL,
  WF_ITEM_EXIT_VALUES varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL,
  WF_ITEM_DEST_TYPE int NULL,
  WF_ITEM_DEST_MAIL varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  WF_ITEM_NEXT_ITEM int NULL,
  WF_ITEM_APPROVE_ITEM int NULL,
  WF_ITEM_REJECT_ITEM int NULL,
  WF_ITEM_TIMEOUT_ITEM int NULL,
  WF_ITEM_TIMEOUT_DUE_TIME int NULL,
  WF_ITEM_ACTION_PROPERTY int NULL,
  WF_ITEM_ACTION_VALUE int NULL,
  WF_ITEM_TIMEOUT_DUE_UNITS int NULL,
  WF_ITEM_SUBJECT varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)
ON [PRIMARY]
TEXTIMAGE_ON [PRIMARY]
GO

--
-- Definition for table WORKFLOW_EXECUTION : 
--

CREATE TABLE SITWF.WORKFLOW_EXECUTION (
  WF_EXEC_ID int NOT NULL,
  WF_ID int NOT NULL,
  REQUEST_TYPE int NOT NULL,
  RESOURCE_ID int NOT NULL,
  WF_RESPONSE int NOT NULL,
  WF_EXEC_START_DATE datetime NOT NULL,
  WF_EXEC_WF_ID int NOT NULL,
  WF_EXEC_STARTED_BY int NOT NULL,
  WF_EXEC_CURRENT_STEP int NOT NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  CREATE_DATE datetime NOT NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table WF_EXECUTION_PARAMETERS : 
--

CREATE TABLE SITWF.WF_EXECUTION_PARAMETERS (
  WF_EXEC_PARAM_ID int IDENTITY(1, 1) NOT NULL,
  WF_EXEC_ID int NOT NULL,
  WF_EXEC_PARAM_NAME int NULL,
  WF_EXEC_PARAM_INT_VALUE int NULL,
  WF_EXEC_PARAM_STR_VALUE varchar(2000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  WF_EXEC_PARAM_DATE_VALUE datetime NULL,
  CREATE_USER int NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER int NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table WORKFLOW_EXECUTION_HISTORY : 
--

CREATE TABLE SITWF.WORKFLOW_EXECUTION_HISTORY (
  WF_EXEC_ID int NOT NULL,
  WF_ID int NOT NULL,
  REQUEST_TYPE int NOT NULL,
  RESOURCE_ID int NOT NULL,
  WF_RESPONSE int NOT NULL,
  WF_EXEC_START_DATE datetime NOT NULL,
  WF_EXEC_WF_ID int NOT NULL,
  WF_EXEC_STARTED_BY int NOT NULL,
  WF_EXEC_CURRENT_STEP int NOT NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  CREATE_DATE datetime NOT NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table WORKFLOW_HIERARCHY_MEMBERS : 
--

CREATE TABLE SITWF.WORKFLOW_HIERARCHY_MEMBERS (
  WF_HIERARCHY_MEMBER_ID int IDENTITY(1, 1) NOT NULL,
  WF_HIERARCHY_ID int NOT NULL,
  WF_HIERARCHY_MEMBER_DEPARTMENT int NOT NULL,
  WF_HIERARCHY_MEMBER_POSITION int NOT NULL,
  WF_HIERARCHY_MEMBER_ORDER int NOT NULL,
  WF_HIERARCHY_MEMBER_DESCRIPTION varchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  CREATE_DATE datetime NULL,
  EDIT_USER varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  EDIT_DATE datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for indices : 
--

ALTER TABLE SITWF.WORKFLOW_APPROVE_HIERARCHY
ADD CONSTRAINT PK_WORKFLOW_APPROVE_HIERARCHY 
PRIMARY KEY CLUSTERED (WF_HIERARCHY_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITWF.WORKFLOWS
ADD CONSTRAINT PK_WORKFLOWS 
PRIMARY KEY CLUSTERED (WF_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITWF.WORKFLOWS
ADD CONSTRAINT UQ_WORKFLOW_NAME 
UNIQUE NONCLUSTERED (WF_NAME)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE AXSCONTROL.ACCESS_TYPES
ADD CONSTRAINT PK_ACCESS_TYPES 
PRIMARY KEY CLUSTERED (ACCESS_TYPE_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE AXSCONTROL.ACCESS_TYPES
ADD CONSTRAINT UQ_ACCESS_TYPE_NAME 
UNIQUE NONCLUSTERED (ACCESS_TYPE_NAME)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE AXSCONTROL.RESOURCE_CATEGORIES
ADD CONSTRAINT PK_OBJECT_CATEGORIES 
PRIMARY KEY CLUSTERED (CATEGORY_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE AXSCONTROL.ACCESS_RESOURCES
ADD CONSTRAINT PK_ACCESS_RESOURCE 
PRIMARY KEY CLUSTERED (RESOURCE_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITCORE.COMMON_VALUE_SETS
ADD CONSTRAINT PK_COMMON_VALUE_SETS 
PRIMARY KEY CLUSTERED (COMMON_VALUE_SET_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITCORE.COMMON_VALUE_SETS
ADD CONSTRAINT UQ_COMMON_VALUE_SETS 
UNIQUE NONCLUSTERED (COMMON_VALUE_SET_NAME)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITCORE.COMMON_VALUES
ADD CONSTRAINT PK_COMMON_VALUES 
PRIMARY KEY CLUSTERED (COMMON_VALUE_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITCORE.COMMON_VALUES
ADD CONSTRAINT UQ_COMMON_VALUES 
UNIQUE NONCLUSTERED (COMMON_VALUE_NAME)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE AXSCONTROL.ACCESS_REQUESTS
ADD CONSTRAINT PK_ACCESS_REQUESTS 
PRIMARY KEY CLUSTERED (REQUEST_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE AXSCONTROL.ACCESS_REQUEST_DETAILS
ADD CONSTRAINT PK_ACCESS_REQUEST_DETAIL 
PRIMARY KEY CLUSTERED (REQUEST_DET_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE AXSCONTROL.ACCESS_TYPE_VALUES
ADD CONSTRAINT PK_ACCESS_TYPE_VALUES 
PRIMARY KEY CLUSTERED (TYPE_VALUE_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE AXSCONTROL.ACCESS_TYPE_VALUES
ADD CONSTRAINT UQ_ACCESS_TYPE_VALUE_NAME 
UNIQUE NONCLUSTERED (TYPE_VALUE_NAME)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE AXSCONTROL.ACCESS_USERS
ADD CONSTRAINT PK_USER_ID 
PRIMARY KEY CLUSTERED (USER_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.PEOPLE
ADD CONSTRAINT PK_PEOPLE_ID 
PRIMARY KEY CLUSTERED (PEOPLE_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.PEOPLE
ADD CONSTRAINT UQ_PEOPLE_DOC_NUM 
UNIQUE NONCLUSTERED (PEOPLE_ORG_ID, PEOPLE_DOC_TYPE, PEOPLE_DOC_NUM)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.PEOPLE
ADD CONSTRAINT UQ_PEOPLE_INTERNAL_ID 
UNIQUE NONCLUSTERED (PEOPLE_ORG_ID, PEOPLE_INTERNAL_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.DEPARTMENTS
ADD CONSTRAINT PK_DEPARTMENT_ID 
PRIMARY KEY CLUSTERED (DEPARTMENT_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.DEPARTMENTS
ADD CONSTRAINT UQ_DEPARTMENT_CODE 
UNIQUE NONCLUSTERED (DEPARTMENT_ORG_ID, DEPARTMENT_CODE)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.DEPARTMENTS
ADD CONSTRAINT UQ_DEPARTMENT_NAME 
UNIQUE NONCLUSTERED (DEPARTMENT_ORG_ID, DEPARTMENT_NAME)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.DEPARTMENT_POSITIONS
ADD CONSTRAINT PK_DEPARTMENT_POSITIONS_PEOPLE 
PRIMARY KEY CLUSTERED (DEPARTMENT_ID, POSITION_ID, PEOPLE_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.ORGANIZATIONS
ADD CONSTRAINT PK_ORG_ID 
PRIMARY KEY CLUSTERED (ORG_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.ORGANIZATIONS
ADD CONSTRAINT UQ_ORG_SHORT_NAME 
UNIQUE NONCLUSTERED (ORG_SHORT_NAME)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE HHRR.PEOPLE_DEPARTMENTS
ADD CONSTRAINT PK_PEOPLE_DEPARTMENT 
PRIMARY KEY CLUSTERED (PEOPLE_ID, DEPARTMENT_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE PROJ.PROJECTS
ADD CONSTRAINT PK_PROJECT_ID 
PRIMARY KEY CLUSTERED (PROJECT_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE PROJ.PROJECTS
ADD CONSTRAINT UQ_PROJECT_CODE 
UNIQUE NONCLUSTERED (PROJECT_CODE)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE PROJ.PROJECTS
ADD CONSTRAINT UQ_PROJECT_NAME 
UNIQUE NONCLUSTERED (PROJECT_NAME)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITCORE.SYSTEM_CONFIG
ADD CONSTRAINT PK_SYSTEM_CONFIG 
PRIMARY KEY CLUSTERED (SYSCONF_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITCORE.SYSTEM_CONFIG
ADD CONSTRAINT UQ_SYSCONF_NAME 
UNIQUE NONCLUSTERED (SYSCONF_NAME)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITWF.WORKFLOW_ITEMS
ADD CONSTRAINT PK_WORKFLOW_ITEMS 
PRIMARY KEY CLUSTERED (WF_ITEM_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITWF.WORKFLOW_EXECUTION
ADD CONSTRAINT PK_WORKFLOWF_EXEC 
PRIMARY KEY CLUSTERED (WF_EXEC_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITWF.WF_EXECUTION_PARAMETERS
ADD PRIMARY KEY CLUSTERED (WF_EXEC_PARAM_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITWF.WORKFLOW_EXECUTION_HISTORY
ADD CONSTRAINT PK_WORKFLOWF_EXEC_WORKFLOW_EXECUTION_HISTORY 
PRIMARY KEY CLUSTERED (WF_EXEC_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

ALTER TABLE SITWF.WORKFLOW_HIERARCHY_MEMBERS
ADD CONSTRAINT PK_WORKFLOW_HIERARCHY_MEMBERS 
PRIMARY KEY CLUSTERED (WF_HIERARCHY_MEMBER_ID)
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO

--
-- Definition for foreign keys : 
--

ALTER TABLE SITWF.WORKFLOWS
ADD CONSTRAINT FK_WORKFLOW_WORKFLOW_APPROVE_HIERARCHY FOREIGN KEY (WF_HIERARCHY_ID) 
  REFERENCES SITWF.WORKFLOW_APPROVE_HIERARCHY (WF_HIERARCHY_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE AXSCONTROL.ACCESS_RESOURCES
WITH NOCHECK ADD CONSTRAINT FK_ACCESS_RESOURCES_ACCESS_RESOURCES FOREIGN KEY (RESOURCE_PARENT) 
  REFERENCES AXSCONTROL.ACCESS_RESOURCES (RESOURCE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE AXSCONTROL.ACCESS_RESOURCES
ADD CONSTRAINT FK_ACCESS_RESOURCES_ACCESS_TYPES FOREIGN KEY (RESOURCE_ACCESS_TYPE) 
  REFERENCES AXSCONTROL.ACCESS_TYPES (ACCESS_TYPE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE AXSCONTROL.ACCESS_RESOURCES
ADD CONSTRAINT FK_ACCESS_RESOURCES_RESOURCE_CATEGORIES FOREIGN KEY (RESOURCE_CATEGORY) 
  REFERENCES AXSCONTROL.RESOURCE_CATEGORIES (CATEGORY_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE AXSCONTROL.ACCESS_RESOURCES
ADD CONSTRAINT FK_ACCESS_RESOURCES_WORKFLOWS FOREIGN KEY (RESOURCE_WORKFLOW) 
  REFERENCES SITWF.WORKFLOWS (WF_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITCORE.COMMON_VALUES
ADD CONSTRAINT FK_COMMON_VALUES_COMMON_VALUE_SETS FOREIGN KEY (COMMON_VALUE_SET_ID) 
  REFERENCES SITCORE.COMMON_VALUE_SETS (COMMON_VALUE_SET_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE AXSCONTROL.ACCESS_REQUESTS
ADD CONSTRAINT FK_ACCESS_REQUESTS_COMMON_VALUES_REQ_PRIORITY FOREIGN KEY (REQUEST_PRIORITY) 
  REFERENCES SITCORE.COMMON_VALUES (COMMON_VALUE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE AXSCONTROL.ACCESS_REQUESTS
ADD CONSTRAINT FK_ACCESS_REQUESTS_COMMON_VALUES_REQ_TYPE FOREIGN KEY (REQUEST_TYPE) 
  REFERENCES SITCORE.COMMON_VALUES (COMMON_VALUE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE AXSCONTROL.ACCESS_REQUEST_DETAILS
ADD CONSTRAINT FK_ACCESS_REQ_DET_ACCESS_REQUEST FOREIGN KEY (REQUEST_ID) 
  REFERENCES AXSCONTROL.ACCESS_REQUESTS (REQUEST_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE AXSCONTROL.ACCESS_REQUEST_DETAILS
ADD CONSTRAINT FK_ACCESS_REQ_DET_ACCESS_RESOURCES FOREIGN KEY (REQUEST_DET_RESOURCE_ID) 
  REFERENCES AXSCONTROL.ACCESS_RESOURCES (RESOURCE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE AXSCONTROL.ACCESS_TYPE_VALUES
ADD CONSTRAINT FK_ACCESS_TYPE_VALUES_ACCESS_TYPES FOREIGN KEY (ACCESS_TYPE_ID) 
  REFERENCES AXSCONTROL.ACCESS_TYPES (ACCESS_TYPE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE HHRR.PEOPLE
ADD CONSTRAINT FK_PEOPLE_DEPARTEMENT FOREIGN KEY (PEOPLE_DEPARTMENT) 
  REFERENCES SITCORE.COMMON_VALUES (COMMON_VALUE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE HHRR.PEOPLE
ADD CONSTRAINT FK_PEOPLE_DOC_TYPE FOREIGN KEY (PEOPLE_DOC_TYPE) 
  REFERENCES SITCORE.COMMON_VALUES (COMMON_VALUE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE HHRR.PEOPLE
ADD CONSTRAINT FK_PEOPLE_POSITION FOREIGN KEY (PEOPLE_POSITION) 
  REFERENCES SITCORE.COMMON_VALUES (COMMON_VALUE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE HHRR.DEPARTMENT_POSITIONS
ADD CONSTRAINT FK_POSITION_DEPARTMENT_ID FOREIGN KEY (DEPARTMENT_ID) 
  REFERENCES HHRR.DEPARTMENTS (DEPARTMENT_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE HHRR.DEPARTMENT_POSITIONS
ADD CONSTRAINT FK_POSITION_PEOPLE_ID FOREIGN KEY (PEOPLE_ID) 
  REFERENCES HHRR.PEOPLE (PEOPLE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE HHRR.DEPARTMENT_POSITIONS
ADD CONSTRAINT FK_POSITION_POSITION_ID FOREIGN KEY (POSITION_ID) 
  REFERENCES SITCORE.COMMON_VALUES (COMMON_VALUE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE HHRR.PEOPLE_DEPARTMENTS
ADD CONSTRAINT FK_PD_DEPARTMENT_ID FOREIGN KEY (DEPARTMENT_ID) 
  REFERENCES HHRR.DEPARTMENTS (DEPARTMENT_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE HHRR.PEOPLE_DEPARTMENTS
ADD CONSTRAINT FK_PD_PEOPLE_ID FOREIGN KEY (PEOPLE_ID) 
  REFERENCES HHRR.PEOPLE (PEOPLE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITWF.WORKFLOW_ITEMS
ADD CONSTRAINT FK_WORKFLOW_ITEMS_WORKFLOWS FOREIGN KEY (WF_ITEM_WF_ID) 
  REFERENCES SITWF.WORKFLOWS (WF_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITWF.WORKFLOW_EXECUTION
ADD CONSTRAINT FK_WORKFLOW_EXECUTION_WORKFLOW_EXECUTION FOREIGN KEY (WF_EXEC_WF_ID) 
  REFERENCES SITWF.WORKFLOWS (WF_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITWF.WORKFLOW_EXECUTION
ADD CONSTRAINT FK_WORKFLOW_EXECUTION_WORKFLOW_ITEMS FOREIGN KEY (WF_EXEC_CURRENT_STEP) 
  REFERENCES SITWF.WORKFLOW_ITEMS (WF_ITEM_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITWF.WF_EXECUTION_PARAMETERS
ADD CONSTRAINT FK_WF_EXEC_PARAMS_WF_EXEC FOREIGN KEY (WF_EXEC_ID) 
  REFERENCES SITWF.WORKFLOW_EXECUTION (WF_EXEC_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITWF.WORKFLOW_EXECUTION_HISTORY
ADD CONSTRAINT FK_WORKFLOW_EXECUTION_HISTORY_WORKFLOW_EXECUTION_HISTORY FOREIGN KEY (WF_EXEC_WF_ID) 
  REFERENCES SITWF.WORKFLOWS (WF_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITWF.WORKFLOW_EXECUTION_HISTORY
ADD CONSTRAINT FK_WORKFLOW_EXECUTION_HISTORY_WORKFLOW_ITEMS FOREIGN KEY (WF_EXEC_CURRENT_STEP) 
  REFERENCES SITWF.WORKFLOW_ITEMS (WF_ITEM_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITWF.WORKFLOW_HIERARCHY_MEMBERS
ADD CONSTRAINT FK_WF_HIERARCHY_MEMBERS_DEPARTMENT FOREIGN KEY (WF_HIERARCHY_MEMBER_DEPARTMENT) 
  REFERENCES SITCORE.COMMON_VALUES (COMMON_VALUE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITWF.WORKFLOW_HIERARCHY_MEMBERS
ADD CONSTRAINT FK_WF_HIERARCHY_MEMBERS_POSITION FOREIGN KEY (WF_HIERARCHY_MEMBER_POSITION) 
  REFERENCES SITCORE.COMMON_VALUES (COMMON_VALUE_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

ALTER TABLE SITWF.WORKFLOW_HIERARCHY_MEMBERS
ADD CONSTRAINT FK_WF_HIERARCHY_MEMBERS_WF_APPROVE_HIERARCHY FOREIGN KEY (WF_HIERARCHY_ID) 
  REFERENCES SITWF.WORKFLOW_APPROVE_HIERARCHY (WF_HIERARCHY_ID) 
  ON UPDATE NO ACTION
  ON DELETE NO ACTION
GO

--
-- Definition for triggers : 
--
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_HIERARCHY_AI ON SITWF.WORKFLOW_APPROVE_HIERARCHY
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [SITWF].[WORKFLOW_APPROVE_HIERARCHY]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOW_APPROVE_HIERARCHY].[WF_HIERARCHY_ID] = [INSERTED].[WF_HIERARCHY_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_HIERARCHY_AU ON SITWF.WORKFLOW_APPROVE_HIERARCHY
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [SITWF].[WORKFLOW_APPROVE_HIERARCHY]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOW_APPROVE_HIERARCHY].[WF_HIERARCHY_ID] = [INSERTED].[WF_HIERARCHY_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOWS_AI ON SITWF.WORKFLOWS
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [SITWF].[WORKFLOWS]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOWS].[WF_ID] = [INSERTED].[WF_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOWS_AU ON SITWF.WORKFLOWS
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [SITWF].[WORKFLOWS]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOWS].[WF_ID] = [INSERTED].[WF_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_TYPES_AI ON AXSCONTROL.ACCESS_TYPES
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_TYPES]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_TYPES].[ACCESS_TYPE_ID] = [INSERTED].[ACCESS_TYPE_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_TYPES_AU ON AXSCONTROL.ACCESS_TYPES
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_TYPES]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_TYPES].[ACCESS_TYPE_ID] = [INSERTED].[ACCESS_TYPE_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_RESOURCE_CATEGORIES_AI ON AXSCONTROL.RESOURCE_CATEGORIES
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [AXSCONTROL].[RESOURCE_CATEGORIES]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[RESOURCE_CATEGORIES].[CATEGORY_ID] = [INSERTED].[CATEGORY_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_RESOURCE_CATEGORIES_AU ON AXSCONTROL.RESOURCE_CATEGORIES
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [AXSCONTROL].[RESOURCE_CATEGORIES]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[RESOURCE_CATEGORIES].[CATEGORY_ID] = [INSERTED].[CATEGORY_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_RESOURCES_AI ON AXSCONTROL.ACCESS_RESOURCES
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_RESOURCES]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_RESOURCES].[RESOURCE_ID] = [INSERTED].[RESOURCE_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_RESOURCES_AU ON AXSCONTROL.ACCESS_RESOURCES
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_RESOURCES]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_RESOURCES].[RESOURCE_ID] = [INSERTED].[RESOURCE_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITCORE.TRG_COMMON_VALUE_SETS_AI ON SITCORE.COMMON_VALUE_SETS
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [SITCORE].[COMMON_VALUE_SETS]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITCORE].[COMMON_VALUE_SETS].[COMMON_VALUE_SET_ID] = [INSERTED].[COMMON_VALUE_SET_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITCORE.TRG_COMMON_VALUE_SETS_AU ON SITCORE.COMMON_VALUE_SETS
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [SITCORE].[COMMON_VALUE_SETS]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITCORE].[COMMON_VALUE_SETS].[COMMON_VALUE_SET_ID] = [INSERTED].[COMMON_VALUE_SET_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITCORE.TRG_COMMON_VALUES_AI ON SITCORE.COMMON_VALUES
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [SITCORE].[COMMON_VALUES]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITCORE].[COMMON_VALUES].[COMMON_VALUE_ID] = [INSERTED].[COMMON_VALUE_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITCORE.TRG_COMMON_VALUES_AU ON SITCORE.COMMON_VALUES
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [SITCORE].[COMMON_VALUES]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITCORE].[COMMON_VALUES].[COMMON_VALUE_ID] = [INSERTED].[COMMON_VALUE_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_REQUESTS_AI ON AXSCONTROL.ACCESS_REQUESTS
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_REQUESTS]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[REQUEST_NUMBER] = (SELECT COALESCE(MAX([REQUEST_NUMBER]), 0) + 1 FROM [AXSCONTROL].[ACCESS_REQUESTS]),
		[REQUEST_STATUS] = (SELECT [SITCORE].[COMMON_VALUES].[COMMON_VALUE_ID] FROM [SITCORE].[COMMON_VALUE_SETS]
							INNER JOIN [SITCORE].[COMMON_VALUES] ON([SITCORE].[COMMON_VALUE_SETS].[COMMON_VALUE_SET_ID] = [SITCORE].[COMMON_VALUES].[COMMON_VALUE_SET_ID])
							WHERE
							  [SITCORE].[COMMON_VALUE_SETS].[COMMON_VALUE_SET_NAME] = 'ESTADOS_SOLICITUD'
							  AND [SITCORE].[COMMON_VALUES].[COMMON_VALUE_NAME] = 'S_PENDIENTE'),
		[REQUEST_DATE] = CURRENT_TIMESTAMP,
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_REQUESTS].[REQUEST_ID] = [INSERTED].[REQUEST_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_REQUESTS_AU ON AXSCONTROL.ACCESS_REQUESTS
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_REQUESTS]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_REQUESTS].[REQUEST_ID] = [INSERTED].[REQUEST_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_REQUEST_DETAILS_AI ON AXSCONTROL.ACCESS_REQUEST_DETAILS
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_REQUEST_DETAILS]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_REQUEST_DETAILS].[REQUEST_DET_ID] = [INSERTED].[REQUEST_DET_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_REQUEST_DETAILS_AU ON AXSCONTROL.ACCESS_REQUEST_DETAILS
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_REQUEST_DETAILS]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_REQUEST_DETAILS].[REQUEST_DET_ID] = [INSERTED].[REQUEST_DET_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_TYPE_VALUES_AI ON AXSCONTROL.ACCESS_TYPE_VALUES
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_TYPE_VALUES]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_TYPE_VALUES].[TYPE_VALUE_ID] = [INSERTED].[TYPE_VALUE_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_TYPE_VALUES_AU ON AXSCONTROL.ACCESS_TYPE_VALUES
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_TYPE_VALUES]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_TYPE_VALUES].[TYPE_VALUE_ID] = [INSERTED].[TYPE_VALUE_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_USERS_AI ON AXSCONTROL.ACCESS_USERS
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_USERS]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_USERS].[USER_ID] = [INSERTED].[USER_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER AXSCONTROL.TRG_ACCESS_USERS_AU ON AXSCONTROL.ACCESS_USERS
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [AXSCONTROL].[ACCESS_USERS]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [AXSCONTROL].[ACCESS_USERS].[USER_ID] = [INSERTED].[USER_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITCORE.TRG_SYSTEM_CONFIG_AI ON SITCORE.SYSTEM_CONFIG
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [SITCORE].[SYSTEM_CONFIG]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITCORE].[SYSTEM_CONFIG].[SYSCONF_ID] = [INSERTED].[SYSCONF_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITCORE.TRG_SYSTEM_CONFIG_AU ON SITCORE.SYSTEM_CONFIG
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [SITCORE].[SYSTEM_CONFIG]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITCORE].[SYSTEM_CONFIG].[SYSCONF_ID] = [INSERTED].[SYSCONF_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_ITEMS_AI ON SITWF.WORKFLOW_ITEMS
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [SITWF].[WORKFLOW_ITEMS]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOW_ITEMS].[WF_ITEM_ID] = [INSERTED].[WF_ITEM_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_ITEMS_AU ON SITWF.WORKFLOW_ITEMS
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [SITWF].[WORKFLOW_ITEMS]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOW_ITEMS].[WF_ITEM_ID] = [INSERTED].[WF_ITEM_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_EXECUTION_AU ON SITWF.WORKFLOW_EXECUTION
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [SITWF].[WORKFLOW_EXECUTION]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOW_EXECUTION].[WF_EXEC_ID] = [INSERTED].[WF_EXEC_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_EXECUTIONS_AI ON SITWF.WORKFLOW_EXECUTION
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [SITWF].[WORKFLOW_EXECUTION]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOW_EXECUTION].[WF_EXEC_ID] = [INSERTED].[WF_EXEC_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WF_EXECUTION_PARAMETERS_AI ON SITWF.WF_EXECUTION_PARAMETERS
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
  UPDATE [SITWF].[WF_EXECUTION_PARAMETERS]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WF_EXECUTION_PARAMETERS].[WF_EXEC_PARAM_ID] = [INSERTED].[WF_EXEC_PARAM_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WF_EXECUTION_PARAMETERS_AU ON SITWF.WF_EXECUTION_PARAMETERS
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
    UPDATE [SITWF].[WF_EXECUTION_PARAMETERS]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WF_EXECUTION_PARAMETERS].[WF_EXEC_PARAM_ID] = [INSERTED].[WF_EXEC_PARAM_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_EXECUTION_HISTORY_AU ON SITWF.WORKFLOW_EXECUTION_HISTORY
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE SITWF.WORKFLOW_EXECUTION_HISTORY
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  SITWF.WORKFLOW_EXECUTION_HISTORY.[WF_EXEC_ID] = [INSERTED].[WF_EXEC_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_EXECUTION_HISTORYS_AI ON SITWF.WORKFLOW_EXECUTION_HISTORY
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE SITWF.WORKFLOW_EXECUTION_HISTORY
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  SITWF.WORKFLOW_EXECUTION_HISTORY.[WF_EXEC_ID] = [INSERTED].[WF_EXEC_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_HIERARCHY_MEMBERS_AI ON SITWF.WORKFLOW_HIERARCHY_MEMBERS
WITH EXECUTE AS CALLER
FOR INSERT
AS
BEGIN
	UPDATE [SITWF].[WORKFLOW_HIERARCHY_MEMBERS]
	SET
		[CREATE_USER] = [INSERTED].[EDIT_USER],
		[CREATE_DATE] = CURRENT_TIMESTAMP,
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOW_HIERARCHY_MEMBERS].[WF_HIERARCHY_MEMBER_ID] = [INSERTED].[WF_HIERARCHY_MEMBER_ID]
END
GO

SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER SITWF.TRG_WORKFLOW_HIERARCHY_MEMBERS_AU ON SITWF.WORKFLOW_HIERARCHY_MEMBERS
WITH EXECUTE AS CALLER
FOR UPDATE
AS
BEGIN
	UPDATE [SITWF].[WORKFLOW_HIERARCHY_MEMBERS]
	SET
		[EDIT_DATE] = CURRENT_TIMESTAMP
	FROM [INSERTED]
	WHERE
	  [SITWF].[WORKFLOW_HIERARCHY_MEMBERS].[WF_HIERARCHY_MEMBER_ID] = [INSERTED].[WF_HIERARCHY_MEMBER_ID]
END
GO

--
-- Role Membership
--

ALTER ROLE db_owner
  ADD MEMBER sitconsu_concardb
GO

